<div class="container bg-dark">
  <div class="row">
    <div class="col-8 offset-2">

      <div class="card mt-4 bg-secondary text-light">
        <div class="card-body">
          <h5 class="card-title">Weather</h5>
          <div class="row">
            <div class="col-md-4">
              <strong>Overview</strong>
              <ul>
                <li>
                  {{weatherOV.main}}
                  <img src="http://openweathermap.org/img/w/{{weatherOV.icon}}.png" alt="">
                </li>
                <li>
                  Humidity: {{weatherMain.humidity}}%
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <strong>Temperature</strong>
              <ul>
                <li>Actual: {{weatherMain.temp}}°F</li>
                <li>Feel: {{weatherMain.feels_like}}°F</li>
                <li>Low: {{weatherMain.temp_max}}°F</li>
                <li>High: {{weatherMain.temp_min}}°F</li>
              </ul>
            </div>
            <div class="col-md-4">
              <strong>Wind</strong>
              <ul>
                <li>Speed: {{weatherWind.speed}}mph</li>
                <li>Gusts: {{weatherWind.gust}}mph</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      {{#if renderCamps}}
      <div class="card mt-4 bg-secondary text-light">
        <div class="card-body">
          <h5 class="card-title">Camps</h5>
          <p>
            <strong>Campsites</strong>:
            {{#each camps.campgrounds}}
              <ul>
                <li>
                  <p>Name:: {{this.name}}</p>
                  <p>Location:: {{this.location}}</p>
                  <p>Url:: {{this.url}}</p>
                  <p>ImgUrl:: {{this.imgUrl}}</p>
                </li>
              </ul>
            {{/each}} 
          <p>
        </div>
      </div>
      {{/if}}

      {{#if renderTrails}}
      <div class="card mt-4 bg-secondary text-light">
        <div class="card-body">
          <h5 class="card-title">Trails</h5>

          {{#each trails.trails}} 
          <div class="card bg-secondary text-light">
            <div class="card-body">
              <div class="card-title">
                <h5 class="text-warning">{{this.name}}</h5>
              </div>
              <p>
                <strong>Rating:</strong>{{this.stars}}/5
              </p>
              <p>
                <strong>Summary</strong>: {{this.summary}}
              </p>
              <p>
                <strong>Location</strong>: {{this.location}}
              </p>
              {{#if this.conditionStatus}}
                <p>
                  <strong>Condition</strong>: {{this.conditionStatus}} - {{this.conditionDetails}}
                </p>
              {{/if}}
              <p>
                <strong>
                  <a href="{{this.url}}" class="text-warning">Link</a>
                </strong>
              </p>
              <p>
                <strong>
                  <a href="http://www.google.com/maps/place/{{this.latitude}},{{this.longitude}}" class="text-warning">Trailhead location</a>
                </strong>
              </p>
            
            </div>
          </div>
          <br> 
          {{/each}}
        </div>
      </div>
      {{/if}}

      <a href="/">← Back To Home</a>

    </div>
  </div>
</div>
