<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Logo Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    
  </div>
</nav>
<div class="container navspacing">
  <div class="row">
    <div class="col-8 offset-2">

    
      <div class="card bg-light mb-3">
        <div class="card-header">Weather</div>
        <div class="card-body">
          {{!-- <h5 class="card-title">Weather</h5> --}}
          <p>
            <strong>Weather</strong>:
            <ul>
              
                <p>Overview</p>
                <p>Today:: {{weatherOV.main}}</p>
                {{!-- displays weather icon :) --}}
                <p>Icon:: {{weatherOV.icon}}</p>
                <img src="http://openweathermap.org/img/w/{{weatherOV.icon}}.png" alt="">
              
              <p class="boldinfo">Temperature:: {{weatherMain.temp}}F</p>
              <p class="boldinfo">Feels like:: {{weatherMain.feels_like}}F</p>
              <p class="boldinfo">High:: {{weatherMain.temp_max}}F</p>
              <p class="boldinfo">Low:: {{weatherMain.temp_min}}F</p>
              <p class="boldinfo">Humidity:: {{weatherMain.humidity}}%</p>
              <p class="boldinfo">Wind:: {{weatherWind.speed}}mph</p>
            </ul>
          </p>
        </div>
      </div>
  



      <div class="card bg-light mb-3">
  <div class="card-header">Camps</div>
        <div class="card-body">
          {{!-- <h5 class="card-title">Camps</h5> --}}
          <p>
            <strong>Campsites</strong>:
            {{#each camps.campgrounds}}
              <ul>
               
                  <p class="boldinfo">Name:: {{this.name}}</p>
                  <p>Location:: {{this.location}}</p>
                  <p>Url:: {{this.url}}</p>
                  <p>ImgUrl:: {{this.imgUrl}}</p>
                
              </ul>
            {{/each}} 
          <p>
        </div>
      </div>
 
  
      <div class="card bg-light mb-3">
  <div class="card-header">Trails</div>
        <div class="card-body">
          {{!-- <h5 class="card-title">Trails</h5> --}}

          <p>
            <strong>Trails:</strong>
            {{#each trails.trails}} 
            <ul>
             
                <p class="boldinfo">Name:: {{this.name}}</p>
                <p>Type:: {{this.type}}</p>
                <p>Summary:: {{this.summary}}</p>
                <p>Difficulty:: {{this.difficulty}}</p>
                <p>Location:: {{this.location}}</p>
                <p>Condition:: {{this.conditionStatus}}</p>
                <p>Condition Details:: {{this.conditionDetails}}</p>
                <p>Url:: {{this.url}}</p>
                <p>Rating:: {{this.stars}}</p>
                <p>Lat/Lon:: {{this.latitude}}, {{this.longitude}}</p>
                <a href="http://www.google.com/maps/place/{{this.latitude}},{{this.longitude}}">Map link</a>
             
            </ul>
            {{/each}}
          </p>
        </div>
      </div>
  
<button type="button" class="btn btn-light">
      <a href="/">← Back To Home</a>
</button>

    </div>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-center">
  <p class="foottext">@copyright 2020</p>
</nav>
{{!-- <script src="/js/combo.js"></script> --}}