<div class="container bg-dark">
  <div class="row">
    <div class="col-8 offset-2">

      <div class="card mt-4 bg-secondary text-light">
        <div class="card-body">
          <h5 class="card-title">Weather</h5>
          <div class="row">
            <div class="col-md-4">
              <strong>Overview</strong>
              <ul>
                <li>
                  {{!-- <p> --}}
                    {{weatherOV.main}}
                    <img src="http://openweathermap.org/img/w/{{weatherOV.icon}}.png" alt="">
                  {{!-- </p> --}}
                </li>
                <li>
                  Humidity: {{weatherMain.humidity}}%
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <strong>Temperature</strong>
              <ul>
                <li>Actual: {{weatherMain.temp}}°F</li>
                <li>Feel: {{weatherMain.feels_like}}°F</li>
                <li>Low: {{weatherMain.temp_max}}°F</li>
                <li>High: {{weatherMain.temp_min}}°F</li>
              </ul>
            </div>
            <div class="col-md-4">
              <strong>Wind</strong>
              <ul>
                <li>Speed: {{weatherWind.speed}}mph</li>
                <li>Gusts: {{weatherWind.gust}}mph</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      {{#if renderCamps}}
      <div class="card mt-4 bg-secondary text-light">
        <div class="card-body">
          <h5 class="card-title">Camps</h5>
          <p>
            <strong>Campsites</strong>:
            {{#each camps.campgrounds}}
              <ul>
                <li>
                  <p>Name:: {{this.name}}</p>
                  <p>Location:: {{this.location}}</p>
                  <p>Url:: {{this.url}}</p>
                  <p>ImgUrl:: {{this.imgUrl}}</p>
                </li>
              </ul>
            {{/each}} 
          <p>
        </div>
      </div>
      {{/if}}

      {{#if renderTrails}}
      <div class="card mt-4 bg-secondary text-light">
        <div class="card-body">
          <h5 class="card-title">Trails</h5>

          <p>
            <strong>Trails:</strong>
            {{#each trails.trails}} 
            <ul>
              <li>
                <p>Name:: {{this.name}}</p>
                <p>Type:: {{this.type}}</p>
                <p>Summary:: {{this.summary}}</p>
                <p>Difficulty:: {{this.difficulty}}</p>
                <p>Location:: {{this.location}}</p>
                <p>Condition:: {{this.conditionStatus}}</p>
                <p>Condition Details:: {{this.conditionDetails}}</p>
                <p>Url:: {{this.url}}</p>
                <p>Rating:: {{this.stars}}</p>
                <p>Lat/Lon:: {{this.latitude}}, {{this.longitude}}</p>
                <a href="http://www.google.com/maps/place/{{this.latitude}},{{this.longitude}}" class="text-warning">Map link</a>
              </li>
            </ul>
            {{/each}}
          </p>
        </div>
      </div>
      {{/if}}

      <a href="/">← Back To Home</a>

    </div>
  </div>
</div>
