<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- currently unused --}}
        {{!-- <h1>{{msg}}</h1> --}}
        <h2>INDEX PAGE</h2>
        <form class="clearfix mb-4">
          <div class="form-group">
            <label for="search-text">Search</label>
            <input type="text" id="search-text" class="form-control" aria-describedby="search-text" placeholder="Search a location!">
          </div>
          {{!-- <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="trailCheck">
            <label for="trailCheck" class="form-check-label">Trails</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="campCheck">
            <label for="trailCheck" class="form-check-label">Campgrounds</label>
          </div> --}}
          <button id="submitLocation" class="btn btn-primary float-right">Submit</button>
        </form>

      <div id = "renderMe"> Recent Searches

       {{!-- <p>
            <strong>Destination:</strong>: {{allData[0].destination_name}}
          </p>

          <p>
            <strong>Searches:</strong>: {{allData[0].searches}}</p>
           --}}
      <ul>
        {{log 'HELLO DESTINATION' destination_searches}}
        {{#each destination_searches}}
          <li>
            Number of Searches:{{searches}} Name of Destination: {{destination_name}}
            {{log 'searches' searches 'destination_name' destination_name}}
          </li>
        {{/each}}
     
      </ul>



      </div>


        
      </div>
    </div>
  </div>
</div>









